.content-center{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.carousel-item{
    text-emphasis-color: white;
    color:white!important;
}

@media(min-width: 700px){
    #carouselExampleDark{
        display: initial;
    }
    #content-card-1-laptop{
        display:flexbox;
        flex-wrap: wrap;
    }
    #content-card-1-mobile{
        display: none;
    }
    #sheets-frame{
        height: 500px;
        width: 900px;
        border: 5px solid black;
        margin: 10px;
    }
    .card{
        margin: 100px;
        width:inherit;
    }
    .card-body{
        color: white;
        font-size: 25px;
        box-sizing: inherit;
        width: max-content;
        text-align: center!important;
    }
    img{
        width: 300px;
        height: auto;
        margin: 50px;
    }
}

@media(max-width: 699px){
    #carouselExampleDark{
        display: none;
    }
    #content-card-1-laptop{
        display: none;
    }
    #content-card-1-mobile{
        display:flexbox;
        flex-wrap: wrap;
    }
    #sheets-frame{
        height: 800px;
        width: 400px;
        border: 5px solid black;
        margin: 10px;
    }
    .card{
        margin: 10px;
        width:200px;
        margin-left: 50px;
    }
    
    .card-body{
        color: white;
        font-size: 25px;
        box-sizing: inherit;
        width: 200px;
        text-align: center!important;
    }
    img{
        width: 200px;
        height: auto;
        margin: 50px;
    }
}

#carouselExampleDark{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    img{
        width: 1100px;
        height: auto;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
        vertical-align: center;
    }
}